{% extends "base_subpage.html" %}

{% block innercontent %}
    <form method="post">
        {% csrf_token %}
        <table style="margin-top: 50px;
                      margin-bottom: 50px;
                      margin-right: auto;
                      margin-left: auto;
                      width: 30%">
            {{ form.as_table }}
            <td></td>
            <td><input style="margin-right: 0" type="submit" value="login"></td>
        </table>
    </form>
{% endblock innercontent %}
