* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    place-items: center;
    align-self: center;
    background: #52745b;
}

.bg-image {
    margin: auto;
    height: 100vh;
    width: auto;
}

@media screen and (orientation: portrait) {
    .bg-image {
        height: auto;
        width: 100vw;
    }
}
