{% extends "portfolio/base.html" %}

{% block site_title %}
    Welcome to my site
{% endblock %}

{% block mainmenu %}
    <li><a href="#section1">About Me</a></li>
    <li><a href="#section2">What I’m good at</a></li>
    <li><a href="#section3">My Work</a></li>
    <li><a href="#section4">Contact Me</a></li>
{% endblock %}

{% block name %}
Abdullah Ozer
{% endblock %}

{% block professional_title %}
Django Developer
{% endblock %}

{% block about %}
    I am a self inspired Django developer.
{% endblock %}

{% block block1_title %}
    About Me
{% endblock %}

{% block about1_title %}
    My Background
{% endblock %}

{% block about1_body %}
    I'm a Django Developer from Turkey currently living in Paris.
    My interest in French culture and language brought me to all the way to Paris.
{% endblock %}

{% block about2_title %}
    Professional Background
{% endblock %}

{% block about2_body %}
    After years of test engineering and working with Python, I discovered a strong interest towards
    Django and web development and started working on it.
{% endblock %}

{% block block2_title %}
    What I’m good at?
{% endblock %}

{% block block2_body %}
    My rapid development skills. My easygoing nature. My passion for learning more.
{% endblock %}

{% block card1_title %}
    HTML5 &amp; CSS3
{% endblock %}

{% block card1_body %}
    Phasellus non convallis dolor. Integer tempor hendrerit arcu
    at bibendum. Sed ac ante non metus vehicula congue quis eget
    eros.
{% endblock %}

{% block card2_title %}
    Creative Ideas
{% endblock %}

{% block card2_body %}
    Proin lacus massa, eleifend sed fermentum in, dignissim vel
    metus. Nunc accumsan leo nec felis porttitor, ultricies
    faucibus purus mollis.
{% endblock %}

{% block card3_title %}
    Easy Customize
{% endblock %}

{% block card3_body %}
    Integer suscipit condimentum aliquet. Nam quis risus metus.
    Nullam faucibus quam eget arcu pretium tincidunt. Nam libero
    dui.
{% endblock %}

{% block card4_title %}
    Admin Dashboard
{% endblock %}

{% block card4_body %}
    Vivamus et dui a massa venenatis fringilla. Proin lacus massa,
    eleifend sed fermentum in, dignissim vel metus. Nunc accumsan
    leo nec felis porttitor.
{% endblock %}

{% block section3_title %}
    My Work
{% endblock %}

{% block section3_body %}
    Intelligence only gets so far.
{% endblock %}

