{% extends "portfolio/base.html" %}

{% block site_title %}
    Welcome to my site
{% endblock %}

{% block mainmenu %}
    <li><a href="#section1">About Me</a></li>
    <li><a href="#section2">More</a></li>
    <li><a href="#section3">My Work</a></li>
    <li><a href="#section4">Contact Me</a></li>
{% endblock %}

{% block name %}
    Abdullah Ozer
{% endblock %}

{% block professional_title %}
    Django Developer
{% endblock %}

{% block about %}
    Welcome to my personal portfolio web page.
{% endblock %}

{% block block1_title %}
    About Me
{% endblock %}

{% block about1_title %}
    My Background
{% endblock %}

{% block about1_body %}
    I'm a Django Developer currently living in Paris.
    My interest in French culture and language brought me to all the way to Paris.
{% endblock %}

{% block about2_title %}
    Professional Background
{% endblock %}

{% block about2_body %}
    After years of test engineering and working with Python, I discovered a strong interest towards
    Django and web development and started working on it.
{% endblock %}

{% block block2_title %}
    More about me
{% endblock %}

{% block block2_body %}
    I am a rapid developer. I am easy going and positive in a team. I am always passionate for learning.
{% endblock %}

{% block card1_title %}
    My Github
{% endblock %}

{% block card1_body %}
    <br>
    https://github.com/abdullahozer11
{% endblock %}

{% block card2_title %}
    My Languages
{% endblock %}

{% block card2_body %}
    I speak professional level of English, French and Turkish. I am also learning Greek.
{% endblock %}

{% block card3_title %}
    My Django Demos
{% endblock %}

{% block card3_body %}
    ToDo App<br>eCommerce
{% endblock %}

{% block card4_title %}
    Admin Dashboard
{% endblock %}

{% block card4_body %}
<br><br>
{% endblock %}

{% block section3_title %}
    My Work
{% endblock %}

{% block section3_body %}
    Intelligence only gets so far.
{% endblock %}

