{% load static %}

<section class="product_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                {% if request.path == '/profile/' %}
                    Your <span>favorites</span>
                {% else %}
                    Our <span>products</span>
                {% endif %}
            </h2>
        </div>
        <div class="row">
            {% for product in object_list %}
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="box">
                        <div class="option_container">
                            <div class="options">
                                <a href="{% url 'cart-add' product_id=product.id %}"
                                   class="option1">
                                    Add To Cart
                                </a>
                                <a href="{% url 'checkout-add-direct' product_id=product.id %}"
                                   class="option2">
                                    Buy Now
                                </a>
                                    {% if request.user in product.favorites.all %}
                                    <a href="{% url 'item-defavor' product_id=product.id %}">
                                        <i class="fa mydefavbutton fa-heart"></i>
                                    </a>
                                {% else %}
                                    <a href="{% url 'item-favor' product_id=product.id %}">
                                        <i class="fa myfavbutton fa-heart"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="img-box">
                            <img src="{{ product.photo.url }}" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                {{ product.name }}
                            </h5>
                            <h6>
                                ${{ product.price }}
                            </h6>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            {% if page_obj.has_previous %}
                <a class="pagination-action" href="?page=1">
                    <i class='bx bx-chevrons-left' aria-hidden="true"></i> </a>
                <a class="pagination-action" href="?page={{ page_obj.previous_page_number }}">
                    <i class='bx bx-chevron-left' aria-hidden="true"></i>
                </a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <span class="pagination-number pagination-current">{{ num }}</span>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a class="pagination-action" href="?page={{ page_obj.next_page_number }}">
                    <i class='bx bx-chevron-right' aria-hidden="true"></i>
                </a>
                <a class="pagination-action" href="?page={{ page_obj.paginator.num_pages }}">
                    <i class='bx bx-chevrons-right' aria-hidden="true"></i>
                </a>
            {% endif %}
        </div>
        {% if not request.path == '/product/' %}
            <div class="btn-box">
                <a href="{% url "product" %}">
                    View All products
                </a>
            </div>
        {% endif %}
    </div>
</section>