{% extends "base_subpage.html" %}
{% load static %}

{% block innercontent %}
    <!-- inner page section -->
    <section class="inner_page_head">
        <div class="container_fuild">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <h3>About us</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end inner page section -->
    <!-- why section -->
    {% include 'commerce_app/includes/whyus.html' %}
    <!-- end why section -->
    <!-- arrival section -->
    {% include 'commerce_app/includes/arrivals.html' %}
    <!-- end arrival section -->
{% endblock innercontent %}
