.cd-body {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    background-color: #51372f;
    text-align: center;
}

.container {
    position: relative;
    display: inline-block; /* Make the width of box same as image */
    vertical-align: middle;
}

#cd-image {
    height: 100%;
    width: auto;
}

.timings {
    font-family: 'crashnumberings-serif';
    color: #9a6859;
}

#days, #hours, #minutes, #seconds {
    font-family: 'CustomFont';
    position: absolute;
}

#days, #hours {
    top: 70%;
    font-size: 12vh;
}

#minutes, #seconds {
    top: 40%;
    font-size: 19vh;
}

@media screen and (orientation: portrait) {
    /* Portrait styles */
    #cd-image {
        height: auto;
        width: 100%;
    }

    #days, #hours {
        font-size: 12vw;
    }

    #minutes, #seconds {
        font-size: 19vw;
    }

    .cd-body {
        display: flex;
        align-items: center;
    }
}

/* Landscape */
@media screen and (orientation: landscape) {
    /* Landscape styles */
    #cd-image {
        height: 100%;
        width: auto;
    }

    #days, #hours {
        font-size: 12vh;
    }

    #minutes, #seconds {
        font-size: 19vh;
    }
}

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/crashnumberings-serif.ttf');
}
