<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>See you in Athens !</title>
    <link rel="stylesheet" href="{% static 'countdown/css/athens.css' %}">
</head>
<body>
    <img src="{% static 'countdown/images/athens.webp' %}" alt="Athens">
    <div class="days">
        <span id="days"></span></br>
        <label class="label">Days</label>
    </div>
<script>
    const endTime = new Date({{year}}, {{month}} - 1, {{day}}, 0, 0, 0);
    const daysEl = document.getElementById('days');
    const currentDate = new Date();
    const diffinmiliseconds = endTime.getTime() - currentDate.getTime();
    daysEl.innerHTML = Math.floor(diffinmiliseconds / (1000 * 60 * 60 * 24));
</script>
</body>
</html>
