{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <title>The Final Countdown</title>
    <link href="{% static 'countdown/css/countdown.css' %}" rel="stylesheet"/>
</head>
<body class="cd-body">

<div class="container">
    <img id="cd-image"
         src='{% static "countdown/images/bg.png" %}'
         alt="Countdown background photo"/>
    <div class="timings">
        <span id="days"></span>
        <span id="hours"></span>
        <span id="minutes"></span>
        <span id="seconds"></span>
    </div>
</div>

<script>
    function makeTimer() {
        const currentDate = new Date();
        endTime = new Date(Date.UTC(2023, 3, 25, 11, 10, 0));

        const diffInMilliseconds = endTime.getTime() - currentDate.getTime();

        // Calculate the number of days, hours, minutes, and seconds until the target date
        const days = Math.floor(diffInMilliseconds / (1000 * 60 * 60 * 24));
        const hours = Math.floor((diffInMilliseconds % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((diffInMilliseconds % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((diffInMilliseconds % (1000 * 60)) / 1000);

        document.getElementById('days').innerHTML = days;
        document.getElementById('hours').innerHTML = hours;
        document.getElementById('minutes').innerHTML = minutes;
        document.getElementById('seconds').innerHTML = seconds;

        if (days < 10) {
            document.getElementById('days').style.left = '36%';
        } else {
            document.getElementById('days').style.left = '33%';
        }

        if (hours < 10) {
            document.getElementById('hours').style.left = '59%';
        } else {
            document.getElementById('hours').style.left = '55%';
        }

        if (minutes < 10) {
            document.getElementById('minutes').style.left = '31%';
        } else {
            document.getElementById('minutes').style.left = '27%';
        }

        if (seconds < 10) {
            document.getElementById('seconds').style.left = '59%';
        } else {
            document.getElementById('seconds').style.left = '54%';
        }
    }

    setInterval(function () {
        makeTimer();
    }, 1000);
</script>
</body>
</html>
