{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>See you in Toronto !</title>
    <link rel="stylesheet" href="{% static 'countdown/css/toronto.css' %}">
    <style>
        body {
            background-image: url("{% static 'countdown/images/toronto-bg.webp' %}");
        }
    </style>
</head>
<body>
<div class="container">
    <div class="image">
        <img src="{% static 'countdown/images/toronto-hero.webp' %}" alt="Toronto">
    </div>
    <div class="padding1"></div>
    <div class="days">
        <span id="days"></span></br>
        <label class="label">Days</label>
    </div>
    <div class="hours">
        <span id="hours"></span></br>
        <label class="label">Hours</label>
    </div>
    <div class="minutes">
        <span id="minutes"></span></br>
        <label class="label">Mins</label>
    </div>
    <div class="padding2"></div>
</div>
<script>
    const endTime = new Date('{{year}}', '{{month}}', '{{day}}', '{{hour}}', '{{minute}}', 0);
    const daysEl = document.getElementById('days');
    const hoursEl = document.getElementById('hours');
    const minutesEl = document.getElementById('minutes');
    const secondsEl = document.getElementById('seconds');

    function getUserDate() {
        const now = new Date();
        const userOffset = now.getTimezoneOffset() * 60 * 1000;
        return new Date(now.getTime() + userOffset);
    }

    function makeTimer() {
        const currentDate = getUserDate();
        const diffInMilliseconds = endTime.getTime() - currentDate.getTime();
        const days = Math.floor(diffInMilliseconds / (1000 * 60 * 60 * 24));
        const hours = Math.floor((diffInMilliseconds % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((diffInMilliseconds % (1000 * 60 * 60)) / (1000 * 60));
        daysEl.innerHTML = days;
        hoursEl.innerHTML = hours;
        minutesEl.innerHTML = minutes;

        if (days < 10) {
            daysEl.style.marginLeft = '10%';
        }
        if (hours < 10) {
            hoursEl.style.left = '59%';
        }
        if (minutes < 10) {
            minutesEl.style.right = '59%';
        }
    }
    makeTimer();
    setInterval(function () {
        makeTimer();
    }, 60000);
</script>
</body>
</html>
