{% extends "base.html" %}
{% load static %}

{% block content %}
    <body class="sub_page">
        <div class="hero_area">
            <!-- header section strats -->
            {% include 'header.html' %}
            <!-- end header section -->
        </div>
        <!-- inner content start -->
        {% block innercontent %}
        {% endblock innercontent %}
        <!-- inner content end -->
        <!-- footer start -->
        {% include 'footer.html' %}
        <!-- footer end -->
        {% include 'scripts.html' %}
    </body>
{% endblock content %}
