{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=1.0, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LEMONADO 🍋 </title>
    <link rel="stylesheet" href="{% static 'lemonado/css/locomotive-scroll.css' %}">
    <link rel="stylesheet" href="{% static 'lemonado/css/style.css' %}">
</head>
<body>
<img class="bg-image" src="{% static 'lemonado/img/asset1.png' %}" alt="body-bg">
<div class="container" data-scroll-container>
    <div class="navbar" data-scroll-section>
        <a class='navbar-item brand' href='#'>LEMONADO</a>
        <a class='navbar-item' href='#'>History</a>
        <a class='navbar-item' href='#'>Contact</a>
        <a class='navbar-item' href='#'>Career</a>
        <a href="#"><img src="{% static 'lemonado/img/logo.png' %}" alt=""></a>
    </div>
    <div class="hero" data-scroll-section>
        <div class="hero-img-div">
            <img class="hero-img1" src="{% static 'lemonado/img/asset1.png' %}" alt="hero">
            <div class="hero-bottle-div">
                <img class="hero-img2" src="{% static 'lemonado/img/asset1-2.png' %}" alt="hero-bottle" data-scroll data-scroll-speed="4" data-scroll-position="top">
            </div>
        </div>
        <div class="hero-text">
            <div></div>
            <div class="hero-title-div">
                <h2 class="hero-title" data-scroll data-scroll-speed="2" data-scroll-position="top">
                    Sip on the Sweetest Lemonade in Town
                </h2>
                <div class="line-separator"></div>
            </div>
            <div>
                <h3>WheN Life Gives You Lemons?</h3>
                <p>Drink our lemonade! Our lemonade is like a hug in a glass.</p>
                <div class="line-separator"></div>
            </div>
            <div>
                <h3>Sunshine in a Glass</h3>
                <p>Lemons to lemonade: Our story, your drink!</p>
                <div class="line-separator"></div>
            </div>
            <div>
                <h3>Sweeten up!</h3>
                <p>Sweeten up your day with our lemonade!</p>
                <div class="line-separator"></div>
            </div>
            <div>
                <p>
                    Welcome to our lemonade shop, where we offer the finest handcrafted lemonade in town! Our lemonade
                    is made from the freshest, locally sourced lemons and sweetened with just the right amount of
                    natural sugar. We take pride in offering a variety of unique and delicious flavors that will leave
                    you craving more.
                </p>
            </div>
        </div>
    </div>
    <div class="page1" data-scroll-section>
        <div class="s11">
            <div class="s11-content">
                <h1 data-scroll data-scroll-speed="-3" data-scroll-direction="horizontal">Lemons to Lemonade</h1>            </div>
            <div class="s11-image" data-scroll data-scroll-speed="-2" data-scroll-direction="vertical">
                <img src="{% static 'lemonado/img/asset2.png' %}" alt="s11">
            </div>
        </div>
        <div class="s12">
            <div>
                <h3>Not Just Refreshing</h3>
                <div class="line-separator"></div>
                <p>Lemonade is not only a refreshing drink, but it can also have a positive impact on the environment.
                    At our shop, we take steps to reduce our carbon footprint and support sustainable practices whenever
                    possible.</p>
                <img  data-scroll data-scroll-speed="-2" data-scroll-direction="horizontal" src="{% static 'lemonado/img/asset13.png' %}" alt="s12">
            </div>
            <div>
                <h3>All Local</h3>
                <div class="line-separator"></div>
                <p>We source our lemons from local farmers who use eco-friendly farming methods, such as organic farming
                    and integrated pest management. By supporting local agriculture, we help reduce transportation
                    emissions and promote biodiversity in our region.</p>
                <img data-scroll data-scroll-speed="-3" data-scroll-direction="horizontal" src="{% static 'lemonado/img/asset13.png' %}" alt="s12">
            </div>
            <div>
                <h3>Biodegradable </h3>
                <div class="line-separator"></div>
                <p>We also strive to reduce waste by using reusable cups and straws, and by composting our lemon peels
                    and other organic waste. Our cups and straws are made from biodegradable materials, and we encourage
                    our customers to bring their own reusable containers whenever possible.</p>
                <img data-scroll data-scroll-speed="-4" data-scroll-direction="horizontal" src="{% static 'lemonado/img/asset13.png' %}" alt="s12">
            </div>
        </div>
        <div class="line-separator"></div>
        <div class="s13">
            <div>
                <img src="{% static 'lemonado/img/asset3.png' %}" alt="s131">
                <p>So when you drink our lemonade, not only will you quench your thirst with a delicious and refreshing
                    drink</p>
            </div>
            <div>
                <img src="{% static 'lemonado/img/asset10.png' %}" alt="s132">
                <p>but you'll also be supporting a sustainable and environmentally conscious business.</p>
            </div>
            <div>
                <img src="{% static 'lemonado/img/asset9.png' %}" alt="s133">
                <p>Together, we can make a difference and create a better world for ourselves and future
                    generations.</p>
            </div>
        </div>
    </div>
    <div class="page2" data-scroll-section>
        <div class="p21">
            <div class="p211">
                <img src="{% static 'lemonado/img/asset5.png' %}" alt="">
            </div>
            <div class="p212">
                <h2>When did the</br>Juicing Began?</h2>
                <p>Lemonado Shop was started by two childhood friends who shared a passion for creating new and exciting
                    drinks. They noticed a lack of high-quality lemonade options in their neighborhood and decided to
                    take matters into their own hands. </p>
            </div>
        </div>
        <div class="p22">
            <div class="p22-content">
                <h2>How Did It Become More Than A Lemonade</h2>
                <div class="line-separator"></div>
                <p>Over the years, Lemonado Shop has expanded its offerings to include a variety of different flavors
                    and sizes, all made with the same care and attention to detail that our founders put into their
                    original recipe. Despite our growth, we remain committed to our roots as a small, community-focused
                    business, and we take pride in providing our customers with the highest quality drinks and
                    service. </p>
                <p>So whether you're looking for a classic lemonade or something a little more adventurous, come on down
                    to Lemonado Shop and taste the difference for yourself!
                </p>
                <div class="p22-image2">
                    <img src="{% static 'lemonado/img/asset12.png' %}" alt="">
                </div>
            </div>
            <div class="p22-image">
                <img class="end-bottle" src="{% static 'lemonado/img/asset8.png' %}" alt="big bottle of juice" data-scroll data-scroll-speed="4">
            </div>
        </div>
    </div>
    <!-- footer-->
    <div class="footer" data-scroll-section>
        <div data-scroll data-scroll-speed="4" data-scroll-position="bottom">
            <span>made by</span>
            <h1>Abdullah Ozer</h1>
        </div>
    </div>
</div>
<script src="{% static 'lemonado/js/locomotive-scroll.min.js' %}"></script>
<script src="{% static 'lemonado/js/app.js' %}"></script>
</body>
</html>
