/*This is my custom css file*/

.page_not_found {
    margin-top: 50px;
}

.page_not_found img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page_not_found h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
}

.social-auth-div {
    text-align: center;
}

.social-auth-div h2 {
    margin: 30px;
}

.social-auth-div a {
    margin: 20px;
}

.inner_content {
    min-height: 30vh;
}

#login-form-table {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.social-auth-confirmation {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
