/*noinspection ALL*/
body {
    background-color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    height: 100dvh;
    height: 100svh;
    width: 100vw;
    text-align: center;
    justify-content: center;
    display: flex;
}

@media (orientation: landscape) {
    #myCanvas {
        height: 90vh;
        height: 90dvh;
        height: 90svh;
        margin: 5vh;
    }
}

@media (orientation: portrait) {
    #myCanvas {
        width: 100vw;
        margin: auto;
    }

    .arrow-buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100vw;
        height: 16vh;
        height: 16dvh;
        height: 16svh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arrow-button {
        background-color: black;
        color: snow;
    }

    .arrow-buttons > * {
        width: 100%;
        height: 100%;
    }

    .verticals {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .verticals > * {
        width: 100%;
        height: 50%;
    }
}

.arrow-button {
    display: none;
}

@media screen and (max-width: 900px) {
    #myCanvas {
        margin-top: 10vh;
    }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
    #myCanvas {
        width: 80vw;
    }
}

@media (orientation: portrait) {
    .arrow-button {
        display: block;
    }
}
