{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Welcome to my site</title>
    <meta name="description" content="For My Comic Book animation">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'portfolio2/assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio2/assets/css/showcase.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <style>
        .hero-image {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{% static 'portfolio2/assets/images/hero/landscape.webp' %}");
        }

        @media (max-width: 640px) {
            .hero-image {
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{% static 'portfolio2/assets/images/hero/portrait.webp' %}");
            }
        }

        :root {
            --card-count: {{ apps|length }};
        }

    </style>
</head>
<body>
<!-- display messages -->
{% include 'portfolio2/includes/messages.html' %}
<!-- end messages -->
<!--{# navbar start #}-->
<div class="navbar">
    <a class='navbar-item' href='#work'>WORK</a>
    <a class='navbar-item' href='#about'>ABOUT</a>
    <a class='navbar-item contact-button'>CONTACT</a>
</div>
<!--navbar end-->
<!--icon sidebar start-->
{% include 'portfolio2/includes/sidebar.html' %}
<!--icon sidebar end-->
<!--contact form start-->
<div class="contact-section">
    {% include 'portfolio2/includes/contact.html' %}
</div>
<!--contact form end-->
<!--hero section start-->
<div class="hero-image">
    <div class="hero-text">
        <h1>Abdullah Ozer</h1>
        <p>Creative Web Design</p>
    </div>
</div>
<!--hero section end-->
<!--showcase starts-->
<div class="showcase" id="work">
    <h1 class="title work-title">WORK</h1>
    <div class="line-separator work-separator"></div>
    <div class="sc-container">
        {% for app in apps %}
        <div class="card">
            <a href="{{ app.url }}">
                <img class="card-image" src="{{ app.img.url }}" alt="{{ app.title }}">
            </a>
            <div class="card-body">
                <h2>{{ app.title }}</h2>
                <p>{{ app.desc }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!--showcase ends-->
<!--    about section start-->
<div class="about-section" id="about">
    <h1 class="title about-title">ABOUT</h1>
    <div class="line-separator about-separator"></div>
    <div class="scrambling-text-container">
        <div class="scrambling-text"></div>
    </div>
    <div class="comic-wrapper">
        <div id="comic">
            <div id="panels">
                <div class="img-wrapper">
                    <img class="cmc_img" src="{% static 'portfolio2/assets/images/comicbook.webp' %}"
                         onMouseDown="return false">
                </div>
            </div>
        </div>
    </div>
    <!--footer section start-->
    <div class="footer">
        <div><img src="{% static 'portfolio2/assets/images/signature.webp' %}" style="height: 100%"></div>
        <div><a id='insta-link' href='https://www.instagram.com/aiwebtech'>INSTAGRAM</a></div>
        <div>© 2023 by Abdullah OZER.</div>
    </div>
    <!--    footer section end-->
</div>
<!--    about section ends-->
<!--  scripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
<script src="{% static 'portfolio2/assets/js/app.js' %}"></script>
<script src="{% static 'portfolio2/assets/js/contact.js' %}"></script>
<script src="{% static 'portfolio2/assets/js/index.js' %}"></script>
<script src="{% static 'portfolio2/assets/js/sidebar.js' %}"></script>
</body>
</html>
